<a href="https://colab.research.google.com/github/Lycoriz6112700/Spotifood_Adv_Project/blob/main/Adv_Project.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

กดตามเลขได้เลย แต่ตั้งแต่เลข 3 ก็ดูหลัง "-" ว่ามันของเลขไหน

In [1]:
# 1
!pip install pythainlp

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Collecting pythainlp
  Downloading pythainlp-3.1.0-py3-none-any.whl (9.6 MB)
     |████████████████████████████████| 9.6 MB 7.6 MB/s
Requirement already satisfied: requests>=2.22.0 in /usr/local/lib/python3.7/dist-packages (from pythainlp) (2.23.0)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.7/dist-packages (from requests>=2.22.0->pythainlp) (2022.9.24)
Requirement already satisfied: idna<3,>=2.5 in /usr/local/lib/python3.7/dist-packages (from requests>=2.22.0->pythainlp) (2.10)
Requirement already satisfied: urllib3!=1.25.0,!=1.25.1,<1.26,>=1.21.1 in /usr/local/lib/python3.7/dist-packages (from requests>=2.22.0->pythainlp) (1.24.3)
Requirement already satisfied: chardet<4,>=3.0.2 in /usr/local/lib/python3.7/dist-packages (from requests>=2.22.0->pythainlp) (3.0.4)
Installing collected packages: pythainlp
Successfully installed pythainlp-3.1.0

In [2]:
# 2
import pandas as pd
import numpy as np
import pythainlp
import sklearn
from sklearn import preprocessing
from sklearn.preprocessing import LabelEncoder
from sklearn.model_selection import train_test_split

#ปิด warning
from warnings import simplefilter
simplefilter(action="ignore", category=pd.errors.PerformanceWarning)

#ส่วนของการเพิ่ม data table
from google.colab import data_table
data_table.enable_dataframe_formatter()

mydataset = pd.read_csv ('https://raw.githubusercontent.com/Lycoriz6112700/Spotifood_Adv_Project/main/Mock%20Data/Mock_Food.csv')
x = mydataset.iloc[:,:].values
le = LabelEncoder()
p_le = preprocessing.LabelEncoder()
ingres = set()
for i in range(len(mydataset)):
  taste =  x[:,2][i].split(" ")
  ingre = x[:,3][i].split(" ")
  try:
    ingre.remove('')
    ingre.remove('')
  except:
    skip = 0
  for j in range(6):
    try:
      if taste[j] in ["เค็ม"," เค็ม"," เค็ม ","เค็ม "]:
        taste[j] = 0
      if taste[j] in ["หวาน"," หวาน"," หวาน ","หวาน "]:
        taste[j] = 1
      if taste[j] in ["เปรี้ยว"," เปรี้ยว"," เปรี้ยว ","เปรี้ยว "]:
        taste[j] = 2
      if taste[j] in ["เผ็ด"," เผ็ด"," เผ็ด ","เผ็ด "]:
        taste[j] = 3
      if taste[j] in ["มัน"," มัน"," มัน ","มัน "]:
        taste[j] = 4
      if taste[j] in ["จืด"," จืด"," จืด ","จืด "]:
        taste[j] = 5
      if taste[j] in [""]:
        taste = taste[:-1]
    except:
      break
  for j in range(len(ingre)):
    ingres.add(ingre[j])
  x[:,2][i] = sorted(taste)
  x[:,3][i] = sorted(ingre)
food_Names = x[:,0]
food_Names = list(food_Names)
list_ingres = list(ingres)

y = pd.DataFrame(x)
y.head()

,0,1,2,3
0,ข้าวขาหมู,ข้าวหน้าต่างๆ,"[0, 1]","[ขาหมู, ข้าว, คะน้า]"
1,บัวลอยไข่หวาน,ของหวาน,"[1, 4]","[กะทิ, แป้ง, ไข่]"
2,ข้าวเหนียวมะม่วง,ของหวาน,"[0, 1, 4]","[กะทิ, ข้าว, มะม่วง]"
3,ขนมจีน,อาหารไทย,"[0, 3, 4]","[ขนมจีน, มะเขือเทศ, เครื่องแกง, ไก่]"
4,แกงเขียวหวาน,อาหารไทย,"[0, 3, 4]","[กะทิ, พริก, พริกแกง, มะเขือเปราะ, ไก่]"

ทางแยก Food

In [3]:
# 3 - Food
columns = ["Salty","Sweet","Sour","Spicy","Greasy","Mild"]
z = pd.DataFrame(columns=columns)
z.insert(0,'Types',y[1],True)

for i in range(len(mydataset)):
  for j in range(len(y[2][i])):
    if y[2][i][j] in [0]:
      z.loc[[i], "Salty"] = 1
    if y[2][i][j] in [1]:
      z.loc[[i], "Sweet"] = 1
    if y[2][i][j] in [2]:
      z.loc[[i], "Sour"] = 1
    if y[2][i][j] in [3]:
      z.loc[[i], "Spicy"] = 1
    if y[2][i][j] in [4]:
      z.loc[[i], "Greasy"] = 1
    if y[2][i][j] in [5]:
      z.loc[[i], "Mild"] = 1

  for j in range(len(y[3][i])):
    z.loc[y.index[i],y[3][i][j]] = 1

z = z.fillna(0)
z.head()

Warning: Total number of columns (551) exceeds max_columns (20). Falling back to pandas display.

,Types,Salty,Sweet,Sour,Spicy,Greasy,Mild,ขาหมู,ข้าว,คะน้า,...,ปลาหมึกย่าง,น้ำจิ้มบ๊วย,เป้งมัน,น้ำสะอาด,สายบัว,หอมไทย,หมึกกล้วย,พริกแกงมัสมั่น,มันเทศ,ลูกกระวาน
0,ข้าวหน้าต่างๆ,1,1,0,0,0,0,1.0,1.0,1.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,ของหวาน,0,1,0,0,1,0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,ของหวาน,1,1,0,0,1,0,0.0,1.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,อาหารไทย,1,0,0,1,1,0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,อาหารไทย,1,0,0,1,1,0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

ทางแยก User

In [4]:
# 3 - User
#เชื่อมตาราง Food และ User
mydataset2 = pd.read_csv ('https://raw.githubusercontent.com/Lycoriz6112700/Spotifood_Adv_Project/main/Mock%20Data/Mock_User.csv')
x2 = mydataset2.iloc[:,:].values
user_Type = list()
user_Flavour = list()
user_Ingres = list()

for i in range(len(mydataset2)):
  food_Name =  x2[:,4][i]
  x2[:,1]= le.fit_transform(x2[:,1])
  x2[:,3]= le.fit_transform(x2[:,3])
  posit_food_name = food_Names.index(food_Name)
  user_Type.append(x[:,1][posit_food_name])
  user_Flavour.append(x[:,2][posit_food_name])
  user_Ingres.append(x[:,3][posit_food_name])

y2 = pd.DataFrame(x2)
y2.insert(5,'Types',user_Type,True)
y2.insert(6,'Flavours',user_Flavour,True)
y2.insert(7,'Ingredients',user_Ingres,True)

y2.head()

,0,1,2,3,4,Types,Flavours,Ingredients
0,Tanisra,13,20,1,ปลากระพงนึ่งมะนาว,ปลา,[2],"[กระเทียม, ซีอิ๊ว, ต้มหอม, น้ำตาล, ปลากะพง, พร..."
1,Sapthanida,13,19,1,เกี๊ยวกุ้งน้ำ,อาหารจีน,[5],"[กระดูกหมู, กระเทียมหัวไชเท้า, กุ้ง, ซีอิ๊ว, ซ..."
2,Pichayapa,16,15,1,ซี่โครงหมูหวาน,อาหารไทย,"[0, 1, 4]","[ซี่โครงหมู, น้ำตาล, น้ำปลา, หอมใหญ่]"
3,Dejwit,4,25,0,เมี่ยงปลาทู,อาหารไทย,"[2, 3]","[กระเทียม, กระเทียม, ขนมจีน, ขิง, ถั่ว, ถั่วตั..."
4,Chidchon,13,22,0,เรนดัง,อาหารอินโดนีเซีย,"[0, 2]","[กระเทียม, กะทิ, ขิง, ข่า, ตะไคร้, ผงลูกจันทร์..."

In [5]:
# 4 - User
z2 = pd.DataFrame()

z2.insert(0,'Job',x2[:,1],True)
z2.insert(1,'Sex',x2[:,3],True)
z2.insert(2,'Age',x2[:,2],True)
z2.insert(3,'Food_Type',user_Type,True)
z2.head()

  Job Sex Age         Food_Type
0  13   1  20               ปลา
1  13   1  19          อาหารจีน
2  16   1  15          อาหารไทย
3   4   0  25          อาหารไทย
4  13   0  22  อาหารอินโดนีเซีย

In [6]:
# 4 - Food
X = z.iloc[:,1:551]
Y = z.iloc[:,0]

In [7]:
# 5 - User
X2 = z2.iloc[:,[0,1,2]]
Y2 = z2.iloc[:,3]

In [34]:
# 5 - Food
X_train, X_test, Y_train, Y_test = train_test_split(X, Y, test_size=0.3, random_state=7)

In [36]:
# 6 - User
X2_train, X2_test, Y2_train, Y2_test = train_test_split(X2, Y2, test_size=0.3, random_state=13)

In [ ]:
X_train.head()

In [ ]:
X2_train.head()

In [ ]:
Y_train.head()

In [ ]:
Y2_train.head()

In [38]:
# 6 - Food
# เหมาะสำหรับ Food
from sklearn.preprocessing import StandardScaler 

scaler = StandardScaler()
scaler.fit(X_train)

X_train = scaler.transform(X_train)
X_test = scaler.transform(X_test)

In [29]:
# 7 - User
scaler.fit(X2_train)

X_train = scaler.transform(X2_train)
X_test = scaler.transform(X2_test)

In [30]:
# 8 - User
# เหมาะสำหรับ User
from sklearn.svm import SVC
from sklearn.pipeline import Pipeline

clf_SVC = Pipeline([
    ("linear_svc", SVC(kernel="rbf", gamma=2, C=10, max_iter=10000))
])
clf_SVC.fit(X2_train, Y2_train)

Pipeline(steps=[('linear_svc', SVC(C=10, gamma=2, max_iter=10000))])

In [31]:
# 9 - User
print("Train set accuracy = " + str(clf_SVC.score(X2_train, Y2_train)))
print("Test set accuracy = " + str(clf_SVC.score(X2_test, Y2_test)))

Train set accuracy = 0.7535816618911175
Test set accuracy = 0.46

In [39]:
# 7 - Food
from sklearn import linear_model

logr = linear_model.LogisticRegression(solver='lbfgs', max_iter=1000)
logr.fit(X_train, Y_train)

LogisticRegression(max_iter=1000)

In [40]:
# 8 - Food
print("Train set accuracy = " + str(logr.score(X_train, Y_train)))
print("Test set accuracy = " + str(logr.score(X_test, Y_test)))

Train set accuracy = 1.0
Test set accuracy = 0.6538461538461539